# 输出文件
infantry/
# keil debug配置文件
DebugConfig/

RTE/

* MDK-ARM.code-workspace
*.eide.usr.ctx.json
*.clang-format

*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.dbg*

MDK-ARM/JLinkLog.txt
*.jdebug
*.jdebug.*

*.axf
*.exf
*.elf

#keil 工程配置文件
*.uvoptx
*.uvguix.*
*.mxproject

.vscode/

JLinkLog.txt
*.log
*.axf

*.龙文章
*.12096
*.json
*.yml



